<?xml version="1.0" encoding="utf-8" ?>
<web-app id="acars" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>GVA ACARS</display-name>
	<description>Global Virtual Airlines Group ACARS server</description>
	
	<!-- Lifecycle listeners for servlet context/session events -->
	<listener>
		<listener-class>org.deltava.acars.SystemBootstrap</listener-class>
	</listener>
</web-app>
