<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="dva2006" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>GVA ACARS</display-name>
	<description>Global Virtual Airlines Group ACARS server</description>
	
	<!-- Lifecycle listeners for servlet context/session events -->
	<listener>
		<listener-class>org.deltava.acars.SystemBootstrap</listener-class>
	</listener>
</web-app>
